@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1717715_uuz5mgvxc8.eot?t=1585276767281'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1717715_uuz5mgvxc8.eot?t=1585276767281#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABmgAAAKHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gQcBNgIkAwgLBgAEIAWEbQctG6oFEdWTDWR/hHAMB6r+EDKR1UMv+9wxdTLwxVR2/q+Fvelj8FyFC7iTYAkQAQAAAABEUK3923O3H1ExqO8ByAMFVIQDVIlNNCmwQEJFGJRAKuXf/938tyoLx6SiBBJYi6yXBli8lod0YiWAzHxN8CQAc30vBMYBbIStuHqFALg45wF7Ix6hRnL25FkXUtg4y8ldvgfg4/+lZ+52AOTOwqhP3Dv9v7E0kPmActyL1hjUBdTFgRToHhgFFmCRRN4wdoMKHrpPoFybETF7XN0lSbJlgbgczg5IM78kOalSoRiwN4n7wJRmd3HAvfb78QcKiUxRLqvYPJ07FnyXZ9D9y5qAAAjG4SLkGEEidoHxdUQ43Fx5nOriWKXBd1/bxFHNwvnrsuJK0KJLnklayh41lcFjTdSDMaa3IHqEIfcWPXjmbtbXeCRP3xjj8fPu8cPnnpgu9Ro+etn2Iysnnp+qR34pOPctH/kqgK3EUf2lZJMAhUn4QPB/2NScBD79b1pvYToyJ6X7dQT/R0rYl2J5Zs1SKAUOZ3rO21KuHAWmu943VkPTzaRDqSYGZ4nW0Z0rFZRMSo3oKFJhHMVKTaDcsIXDFRpcQUQqw5CbGkKtF8hU+4BcrY9kon9FkWb/UKw2CMrthzMr9AUVxI5QMhpQXwi6bWxhZ9GVntE9K0lTecu7Iw0hBGmULFMnbJBEbBheLmO2YKmt4ag9hlXVQkdtgZojz9zlcWxBL4p0W4+EHaFkNKC+EHTb2Ho0i9Xnz+ielSREz0j8jjSE6SGNEgLypGmIeh7lmeHlMmYLltoajtosrKoWOvCsAjVHniHa5XE+yJJqIvW6+u+OMRoJmXESeQ2B6YExoxEAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_1717715_uuz5mgvxc8.woff?t=1585276767281') format('woff'),
  url('//at.alicdn.com/t/font_1717715_uuz5mgvxc8.ttf?t=1585276767281') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1717715_uuz5mgvxc8.svg?t=1585276767281#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e63b";
}
